/* Resetting default CSS*/
* {
  margin: 0;
  padding: 0;
  font-size: 14;
}

body {
  background: #282a36;
  color: #6172a4;
  font-family: "Inconsolata", monospace;
  min-height: 100vh; /*100% window*/
}

header {
  font-size: 1.5rem;
  font-family: "Inconsolata", monospace;
}

/* setting flex & minimum height */
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*********** INPUT SECTION START ***********/
form {
  /* overriding with space-between to space them out and near the edges*/
  justify-content: space-around;
  width: 100%;
}

form input,
form button,
select {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: #282a36;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #50fa7b;
  color: white;
}

form input {
  color: #282a36;
}

/* div wrapping together form & todo container */
#interface {
  align-items: center;
  max-width: 600px;
  margin: 1rem auto;
}

#input-select {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

/* div wrapping together input and submit button*/
#input-elements {
  display: inline-flex;
  align-items: left; /* making the button close to the input */
}

/*input field*/
.todo-input {
  padding: 0.1rem 0.1rem;
}

/* input button */
.todo-button {
  margin-left: 0;
  padding: 0.5rem 0.7rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  appearance: none;
  outline: none;
  border: none;
  font-size: 1rem;
}

.select {
  display: flex;
  margin-left: 3rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #282a36;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  background: #8be9fd;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.2s ease;
}

.select:hover::after {
  background: #8be9fd;
  color: white;
}

/************ INPUT SECTION END ************/

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
  width: 100%;
}

.todo {
  margin: 0.5rem 0;
  background: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
}

.todo-item {
  flex: 1;
}

.trash-btn,
.complete-btn,
.restore-btn {
  background: #ff79c6;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: #50fa7b;
}

.restore-btn {
  background: #6172a4;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-check-circle,
.fa-trash-alt,
.fa-history {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(15rem) rotateZ(20deg);
  opacity: 0;
}
